{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid hero-image">
    <div class="hero-overlay"></div>
    <div class="row">
        <div class="col col-12 col-md-12 my-auto center-welcome-message">
            <div class="display-4 text-white test">
            <h1 class="page-title">The Hangar</h1>
            <br>
            <br>
            <h4>
                <a class="btn btn-outline-light btn-lg rounded-pill" href="{% url 'products' %}" role="button">Access Granted <i class="fas fa-angle-double-right"></i></a>
            </h4>
        </div>
    </div>
</div>
</div>
{% endblock %}