/*--- Generic ---*/

html {
	height: 100%;
}

body {
	font-family: 'Oxygen';
	color: #000000;
    background-color: #6C757E;
}

.text-white {
	color: #FFFFFF;
}

.text-black {
	color: #000000 !important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

hr { 
    color: #000000;
    background-color:  #000000;
    border-color: #000000;
}

.border-white {
	border: solid 1px #ffffff;
}

.border-black {
	border: solid 1px #000000;
}

.badge:hover {
	background: #000000 !important;
    color: #ffffff !important;
}

a.category-badge > span.badge:hover {
    background: #000000 !important;
    color: #ffffff !important;
}

.add-button:hover {
	background: #000000 !important;
    color: #ffffff !important;
}

.to-top-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.to-top-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.to-top-link:hover {
	text-decoration: none;
}

.set-max-space {
	max-width: 150px;
}

/*--- Top Navbar ---*/

.the-hangar-icon:hover {
	color: rgb(211, 211, 211) !important;
}

.bg-secondary {
	background-color: #000000 !important;
}

.nav-sections:hover {
	color: #000000 !important;
	background-color: white !important;
}

.nav-icons:hover {
	color: #000000;
	background-color: #ffffff;
	border-radius: 5px;
}

.mobile-icons {
	color: #ffffff !important;
}

.navbar-toggler-icon {
	background-color: #ffffff;
}

.navbar-toggler {
	border: solid 1px white !important;
}

/*--- Hero Image ---*/

.hero-image {
	height: 100vh;
	background: url('/media/the_hangar.jpg') no-repeat bottom right fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	height: calc(100vh - 33px);
}

.hero-overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}

.page-title {
	font-size: 4vw;
}

.center-welcome-message {
	text-align: center;
}

.test {
	margin-top: 300px;
}


/*---  ---*/



/*--- Toasts ---*/

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.toast-overflow {
    overflow: visible;
}

.toast-height {
    height: 2px;
}

/*--- from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ ---*/
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/*--- Convenience classes - colors copied from Bootstrap ---*/
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.cart-notify-wrap {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/*--- Media Queries ---*/

@media (min-width: 1200px) {
	.container {
		max-width: 80%;
	}
}

@media (min-width: 992px) {
	.fixed-top-desktop-only {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 1030;
	}
	.padding-top {
        padding-top: 164px;
    }
}

@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }
}