/*--- Generic ---*/

html {
	height: 100%;
}

body {
	font-family: 'Oxygen';
	color: #FFFFFF;
    background-color: #6C757E;
}

.text-white {
	color: #FFFFFF;
}

.text-black {
	color: #000000;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

hr { 
    color: #000000;
    background-color:  #000000;
    border-color: #000000;
}

/*--- Hero Image ---*/

.hero-image {
	height: 100vh;
	background: url('/media/the_hangar.jpg') no-repeat bottom right fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	height: calc(100vh - 33px);
}

.hero-overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}

.page-title {
	font-size: 4vw;
}

.center-welcome-message {
	text-align: center;
}

.test {
	margin-top: 300px;
}


/*---  ---*/




/*--- Media Queries ---*/

@media (min-width: 1200px) {
	.container {
		max-width: 80%;
	}
}

@media (min-width: 992px) {
	.fixed-top-desktop-only {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 1030;
	}
	.padding-top {
        padding-top: 164px;
    }
}
}