<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-white mr-5" href="#" id="airplane-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Airplanes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="airplance-link">
                <a href="" class="dropdown-item">Propeller</a>
                <a href="" class="dropdown-item">Jet</a>
                <a href="" class="dropdown-item">Electric Motor</a>
                <a href="" class="dropdown-item">Turbofan</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-white mr-5" href="#" id="helicopter-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Helicopters
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="helicoper-link">
                <a href="" class="dropdown-item">Turbine Engine</a>
                <a href="" class="dropdown-item">Piston Engine</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-white mr-5" href="#" id="drone-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Drones
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="drone-link">
                <a href="" class="dropdown-item">Single-Rotor</a>
                <a href="" class="dropdown-item">Multi-Rotor</a>
            </div>
        </li>
    </ul>
</div>