{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block inner_content %}

<div class="row">
  <div class="col s12 m6 offset-m3">
<h1>{% trans "Sign Out" %}</h1>

<p>{% trans 'Are you sure you want to sign out?' %}</p>


    <form method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      <a class="btn btn-black form-font text-uppercase badge text-black rounded-pill border border-dark btn-lg add-button" href="{% url 'products' %}">NO</a>
      <button class="btn btn-black form-font text-uppercase badge text-black rounded-pill border border-dark btn-lg add-button" type="submit">{% trans 'YES' %}</button>
    </form>
  </div>
</div>

{% endblock %}
