{% load static %}

<!doctype html>
<html lang="en">

<head>

    <!-- Required meta tags -->
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://kit.fontawesome.com/d972b5bebb.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>The Hangar {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <audio id="airplane" src="media/audio/airplane.mp3" preload="auto"></audio>
    <header class="container-fluid fixed-top">
        <div id="topnav" class="row bg-secondary pt-lg-2 d-none d-lg-flex">
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <h2 class="my-0"><strong class="text-white the-hangar-icon">The Hangar</strong> <i class="fas fa-plane text-white"></i></h2>
                </a>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <form method="GET" action="{% url 'products' %}">
                    <div class="input-group w-100">
                        <input class="form-control border border-dark rounded-pill" type="text" name="q" placeholder="Search our products">
                        <div class="input-group-append">
                            <button class="form-control btn btn-light border border-dark rounded-pill mx-1" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                    <li class="list-inline-item">
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-white{% endif %} nav-link" href="{% url 'view_cart' %}">
                            <div class="text-center nav-icons">
                                <div><i class="fas fa-shopping-cart fa-2x p-1"></i></div>
                            </div>
                        </a>
                    </li>
                    <li class="list-inline-item dropdown">
                        <a class="text-white nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="text-center nav-icons">
                                <div><i class="fas fa-user fa-2x p-1"></i></div>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                    <a href="" class="dropdown-item">Product Management</a>
                                {% endif %}
                                <a href="" class="dropdown-item">My Profile</a>
                                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <nav class="navbar navbar-expand-lg bg-secondary w-100 navbar-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon rounded-5"></span>
                </button>
                {% include 'includes/mobile-header.html' %}
                {% include 'includes/main-nav.html' %}
            </nav>
    </header>

    <hr>

    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
            {% if level == 40 %}
                {% include 'includes/toasts/toast_error.html' %}
            {% elif level == 30 %}
                {% include 'includes/toasts/toast_warning.html' %}
            {% elif level == 25 %}
                {% include 'includes/toasts/toast_success.html' %}
            {% else %}
                {% include 'includes/toasts/toast_info.html' %}
            {% endif %}
        {% endwith %}
    {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    <script type="text/javascript">
        var airplaneSound = document.getElementById("airplane");

        document.getElementById("airplane").autoplay = true;
    </script>
    {% endblock %}

</body>

</html>